* {
    box-sizing: border-box;
}

.changeColorLink {
    color: green;
}

input {
    margin: 20px;
}

.white {
    width: 50px;
    height: 50px;
    background-color: white;
}

.black {
    width: 50px;
    height: 50px;
    background-color: black;
}

table {
    border:1px solid black;
    border-collapse: collapse;
}

tr:last-of-type {
    cursor: pointer;
}

td {
    width: 300px;
    height: 50px;
    border: solid black 1px;
    text-align: center;
}

h2 {
    text-align: center;
}


